<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="utf-8">
<title>과자</title>
</head>
<body>
	<h1>snackLis</h1>
	<table border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>과자명</th>
				<th>가격</th>
				<th>회사명</th>
				<th>회사번호</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="	s  :	${snackList}">
				<td th:text="${s.seacks_id}"></td>
				<td th:text="${s.seacks_name}"></td>
				<td th:text="${s.price}"></td>
				<td th:text="${s.company_name}"></td>
				<td th:text="${s.company_phone}"></td>
		</tbody>

	</table>
	<a href="/">메인으로 돌아가기</a>
</body>
</html>